services:
  dev:
    image: paddle
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        CUDA_VER: "12.9.1"
        UBUNTU_VER: "22.04"
    environment:
      - USERNAME=${USER}
      - USER_UID=${USER_UID}
      - USER_GID=${USER_GID}
    volumes:
      - .:/paddle
      - ${GITCONFIG}:/etc/gitconfig
    working_dir: /paddle
    tty: true
    stdin_open: true
    ports:
      - "8888:8888"
    command: >
      bash -c "
        git config --global --add safe.directory /paddle &&
        bash
      "
